.login-box
  .login-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control gl-form-input", required: true, value: params[:user_email], autofocus: true, title: 'Please provide a valid email address.'
      .clearfix
        = f.submit "Reset password", class: "gl-button btn-info btn"

.clearfix.prepend-top-20
  = render 'devise/shared/sign_in_link'
